{% extends 'base.html' %}

{% block content %}
<ul>
    <div class="row row-cols-1 row-cols-md-3">
        {% for client in clients %}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="name"><a href="{% url "client-detail" client.pk %}">{{ client.name }}</a></h5>
                    <p class="tel">{{ client.tel }}</p>
                    <p class="address">{{ client.address }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>

{% endblock %}