{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col col-7">
        <div class="card">
            <div class="card-body">
                <h5 class="name">{{ client.name }}</h5>
                <p class="tel">{{ client.tel }}</p>
                <p class="address">{{ client.address }}</p>

                <hr />

                {% for inventory in inventories %}
                {% if inventory.client == client.name %}
                <p class="inventory">거래상품목록 {{ inventory.name }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
            <button><a href="{% url "client-edit" client.pk %}">수정</a></button>
            <button><a href="{% url "client-delete" client.pk %}">삭제</button>
            <button><a href="{% url "client-list" %}">목록</a></button>
    </div>
</div>
{% endblock %}