{% extends 'base.html' %}

{% block content %}


<ul>
    <div class="row row-cols-1 row-cols-md-3">
    {% for inventory in inventories %}

        <div class="col mb-4">
            <div class="card">
                <img src="{{ inventory.photo.url }}" style="max-width: 100%;" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="name"><a href="{% url "inventory-detail" inventory.pk %}">{{ inventory.name }}</a></h5>
                    <p class="price">가격: {{ inventory.price }}</p>
                    <p class="stock">남은 수량: {{ inventory.stock }}</p>
                    <button><a href="" class="stock_minus">-</a></button>
                    <button>+</button>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</ul>
{% endblock %}